<h1 mat-dialog-title>Add/ Edit User</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No Thanks</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>
