<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="header-class">
        <h2>Log In</h2>
      </div>
      <mat-error *ngIf="!loginValid">
        The username and password were not recognized
      </mat-error>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="username"
          name="username"
        />
        <mat-error> Please provide a valid email address </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
        />
        <mat-error> Please provide a valid password </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!loginForm.form.valid"
      >
        Login
      </button>
    </form>
    <button mat-button color="secondary">Sign In</button>
    <button mat-button color="secondary">Forgot password</button>
  </mat-card-content>
</mat-card>
