<!-- <mat-list>
  <mat-list-item>
    <div matListItemTitle>Pepper</div>
    <div matListItemLine>Produced by a plant</div>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Salt</span>
    <span matListItemLine>Extracted from sea water</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Paprika</span>
    <span matListItemLine>Produced by dried and ground red peppers</span>
  </mat-list-item>
</mat-list> -->

<mat-list>
  <mat-list-item>
    <div style="display: flex; flex-direction: row wrap; width: auto">
      <div>110011</div>
      <h3 matListItemTitle>Rajatha Krishnamurthy</h3>
      <p matListItemLine style="color: #999; font-weight: lighter">
        <span>rajatha.krishnamurthy</span>
      </p>
      <div>admin</div>
      <button mat-icon-button matTooltip="Opções">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <h3 matListItemTitle matLine>Title</h3>
    <p matListItemLine matLine style="color: #999; font-weight: lighter">
      <span>Pepper</span>
    </p>
    <button mat-icon-button matTooltip="Opções">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <h3 matListItemTitle matLine>Title</h3>
    <p matListItemLine matLine style="color: #999; font-weight: lighter">
      <span>Salt</span>
    </p>
    <button mat-icon-button matTooltip="Opções">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-item>
</mat-list>
