<!-- <mat-list>
  <mat-list-item>
    <div matListItemTitle>Pepper</div>
    <div matListItemLine>Produced by a plant</div>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Salt</span>
    <span matListItemLine>Extracted from sea water</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Paprika</span>
    <span matListItemLine>Produced by dried and ground red peppers</span>
  </mat-list-item>
</mat-list> -->

<!-- <mat-list>
  <mat-list-item>
    <div style="display: flex; flex-direction: row wrap; width: auto">
      <div>110011</div>
      <h3 matListItemTitle>Rajatha Krishnamurthy</h3>
      <p matListItemLine style="color: #999; font-weight: lighter">
        <span>rajatha.krishnamurthy</span>
      </p>
      <div>admin</div>
      <button mat-icon-button matTooltip="Opções">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <h3 matListItemTitle matLine>Title</h3>
    <p matListItemLine matLine style="color: #999; font-weight: lighter">
      <span>Pepper</span>
    </p>
    <button mat-icon-button matTooltip="Opções">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <h3 matListItemTitle matLine>Title</h3>
    <p matListItemLine matLine style="color: #999; font-weight: lighter">
      <span>Salt</span>
    </p>
    <button mat-icon-button matTooltip="Opções">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-item>
</mat-list> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="demo-position">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.position }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="demo-name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="demo-weight">
    <th mat-header-cell *matHeaderCellDef>User Name</th>
    <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="demo-symbol">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
  </ng-container>

  <ng-container matColumnDef="demo-other">
    <th mat-header-cell *matHeaderCellDef>Other</th>
    <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
